body {
    margin: 0;
    padding: 0;
    color: #333;
    overflow: hidden;
    user-select: none;
    text-align: center;
    background: #f9f9f9;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    background: #fff;
    margin-top: 5px;
    font-size: 1.5rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.level label {
    margin: 0 10px;
    cursor: pointer;
    font-size: .8rem;
    background: #999;
    padding: 5px 10px;
    border-radius: 5px;
}
.level label:hover {
    color: #fff;
    background: #4caf50;
}
.level input[type='radio'] {
    display: none;
    margin-right: 5px;
}
.level input[type='radio']:checked + label {
    color: #fff;
    background: #4caf50;
}
.question {
    font-size: 1.5rem;   
    margin-block: .5rem;
}
.answer {
    width: 160px;
    padding: 5px;
    font-size: .8rem;
    margin-right: 10px;
}
.answer-container button {
    color: white;
    border: none;
    cursor: pointer;
    font-size: .8rem;
    padding: 5px 10px;
    background: #4caf50;
    border-radius: 5px;
}
.answer-container button:hover {
    background: #45a049;
}
.feedback {
    height: 10px;
    margin-top: 5px;
    font-size: .8rem;
}
.scoreboard {
    gap: 20px;
    color: #555;
    display: flex;
    font-size: .8rem;
}
.scoreboard p {
    font-size: .8rem;
    margin-block: .5rem;
}
canvas {
  border-radius: 5px;
  border: 1px solid #abc;
}
.controls {
    gap: 10px;
    display: flex;
}
.controls span {
    font-size: 1rem;
    padding: 1px 2px;
    margin-bottom: 3px;
    border-radius: 5px;
}
.disable {
  cursor: default;
  background: #fff;
}
.enable {
  cursor: pointer;
  background: #efe;
}
.time {
    font-size: .8rem;
}